  @bg-x: 0px;
  @bg-y: 2988px;
  @bg-offset-x: 0px;
  @bg-offset-y: -2988px;
  @bg-width: 1280px;
  @bg-height: 720px;
  @bg-total-width: 1280px;
  @bg-total-height: 3708px;
  @bg-image: '../images/resources.png';
  @bg: 0px 2988px 0px -2988px 1280px 720px 1280px 3708px '../images/resources.png';
  @bg_bottom-x: 0px;
  @bg_bottom-y: 1036px;
  @bg_bottom-offset-x: 0px;
  @bg_bottom-offset-y: -1036px;
  @bg_bottom-width: 1280px;
  @bg_bottom-height: 330px;
  @bg_bottom-total-width: 1280px;
  @bg_bottom-total-height: 3708px;
  @bg_bottom-image: '../images/resources.png';
  @bg_bottom: 0px 1036px 0px -1036px 1280px 330px 1280px 3708px '../images/resources.png';
  @bt_pause-x: 0px;
  @bt_pause-y: 296px;
  @bt_pause-offset-x: 0px;
  @bt_pause-offset-y: -296px;
  @bt_pause-width: 128px;
  @bt_pause-height: 128px;
  @bt_pause-total-width: 1280px;
  @bt_pause-total-height: 3708px;
  @bt_pause-image: '../images/resources.png';
  @bt_pause: 0px 296px 0px -296px 128px 128px 1280px 3708px '../images/resources.png';
  @bt_pause_normal-x: 0px;
  @bt_pause_normal-y: 444px;
  @bt_pause_normal-offset-x: 0px;
  @bt_pause_normal-offset-y: -444px;
  @bt_pause_normal-width: 128px;
  @bt_pause_normal-height: 128px;
  @bt_pause_normal-total-width: 1280px;
  @bt_pause_normal-total-height: 3708px;
  @bt_pause_normal-image: '../images/resources.png';
  @bt_pause_normal: 0px 444px 0px -444px 128px 128px 1280px 3708px '../images/resources.png';
  @bt_pause_pressed-x: 0px;
  @bt_pause_pressed-y: 592px;
  @bt_pause_pressed-offset-x: 0px;
  @bt_pause_pressed-offset-y: -592px;
  @bt_pause_pressed-width: 128px;
  @bt_pause_pressed-height: 128px;
  @bt_pause_pressed-total-width: 1280px;
  @bt_pause_pressed-total-height: 3708px;
  @bt_pause_pressed-image: '../images/resources.png';
  @bt_pause_pressed: 0px 592px 0px -592px 128px 128px 1280px 3708px '../images/resources.png';
  @bt_play-x: 0px;
  @bt_play-y: 740px;
  @bt_play-offset-x: 0px;
  @bt_play-offset-y: -740px;
  @bt_play-width: 128px;
  @bt_play-height: 128px;
  @bt_play-total-width: 1280px;
  @bt_play-total-height: 3708px;
  @bt_play-image: '../images/resources.png';
  @bt_play: 0px 740px 0px -740px 128px 128px 1280px 3708px '../images/resources.png';
  @bt_play_normal-x: 0px;
  @bt_play_normal-y: 0px;
  @bt_play_normal-offset-x: 0px;
  @bt_play_normal-offset-y: 0px;
  @bt_play_normal-width: 128px;
  @bt_play_normal-height: 128px;
  @bt_play_normal-total-width: 1280px;
  @bt_play_normal-total-height: 3708px;
  @bt_play_normal-image: '../images/resources.png';
  @bt_play_normal: 0px 0px 0px 0px 128px 128px 1280px 3708px '../images/resources.png';
  @bt_play_pressed-x: 0px;
  @bt_play_pressed-y: 888px;
  @bt_play_pressed-offset-x: 0px;
  @bt_play_pressed-offset-y: -888px;
  @bt_play_pressed-width: 128px;
  @bt_play_pressed-height: 128px;
  @bt_play_pressed-total-width: 1280px;
  @bt_play_pressed-total-height: 3708px;
  @bt_play_pressed-image: '../images/resources.png';
  @bt_play_pressed: 0px 888px 0px -888px 128px 128px 1280px 3708px '../images/resources.png';
  @canvas_bg-x: 0px;
  @canvas_bg-y: 2334px;
  @canvas_bg-offset-x: 0px;
  @canvas_bg-offset-y: -2334px;
  @canvas_bg-width: 634px;
  @canvas_bg-height: 634px;
  @canvas_bg-total-width: 1280px;
  @canvas_bg-total-height: 3708px;
  @canvas_bg-image: '../images/resources.png';
  @canvas_bg: 0px 2334px 0px -2334px 634px 634px 1280px 3708px '../images/resources.png';
  @couplet_left-x: 0px;
  @couplet_left-y: 1386px;
  @couplet_left-offset-x: 0px;
  @couplet_left-offset-y: -1386px;
  @couplet_left-width: 158px;
  @couplet_left-height: 454px;
  @couplet_left-total-width: 1280px;
  @couplet_left-total-height: 3708px;
  @couplet_left-image: '../images/resources.png';
  @couplet_left: 0px 1386px 0px -1386px 158px 454px 1280px 3708px '../images/resources.png';
  @couplet_right-x: 0px;
  @couplet_right-y: 1860px;
  @couplet_right-offset-x: 0px;
  @couplet_right-offset-y: -1860px;
  @couplet_right-width: 158px;
  @couplet_right-height: 454px;
  @couplet_right-total-width: 1280px;
  @couplet_right-total-height: 3708px;
  @couplet_right-image: '../images/resources.png';
  @couplet_right: 0px 1860px 0px -1860px 158px 454px 1280px 3708px '../images/resources.png';
  @score_bg-x: 0px;
  @score_bg-y: 148px;
  @score_bg-offset-x: 0px;
  @score_bg-offset-y: -148px;
  @score_bg-width: 128px;
  @score_bg-height: 128px;
  @score_bg-total-width: 1280px;
  @score_bg-total-height: 3708px;
  @score_bg-image: '../images/resources.png';
  @score_bg: 0px 148px 0px -148px 128px 128px 1280px 3708px '../images/resources.png';

  .sprite-width(@sprite) {
    width: ~`"@{sprite}".split(', ')[4]`;
  }

  .sprite-height(@sprite) {
    height: ~`"@{sprite}".split(', ')[5]`;
  }

  .sprite-position(@sprite) {
    @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
    @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
    background-position: @sprite-offset-x  @sprite-offset-y;
  }

  .sprite-image(@sprite) {
    @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
    background-image: url(@sprite-image);
  }

  .sprite(@sprite) {
    .sprite-image(@sprite);
    .sprite-position(@sprite);
    .sprite-width(@sprite);
    .sprite-height(@sprite);
  }
