@font-face {
  font-family: 'jianzhi';
  src: url(../fonts/jianzhi.eot) format('eot');
  src: url(../fonts/jianzhi.eot?#iefix) format('embedded-opentype'), url(../fonts/jianzhi.woff) format('woff'), url(../fonts/jianzhi.ttf) format('truetype');
}
.snake-container-wrap {
  font-family: 'jianzhi', '微软雅黑';
  background: url(../images/bg.png) no-repeat;
  width: 1280px;
  padding-bottom: 40px;
  margin: 0 auto;
  position: relative;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.snake-container-wrap h1,
.snake-container-wrap h2 {
  font-weight: normal;
  text-align: center;
}
.snake-container-wrap h1 {
  font-size: 32px;
}
.snake-container-wrap h2 {
  font-size: 24px;
}
.snake-container-wrap img.bottom {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.snake-container-wrap .snake-container {
  width: 996px;
  padding-left: 8px;
  margin: 0 auto;
  overflow: hidden;
}
.snake-container-wrap .snake-container .scorebar,
.snake-container-wrap .snake-container .control-bar {
  width: 158px;
  height: 454px;
  padding-bottom: 43px;
  display: inline-block;
  vertical-align: bottom;
}
.snake-container-wrap .snake-container .scorebar {
  background: url(../images/couplet_left.png) no-repeat;
  color: #fcf1f1;
}
.snake-container-wrap .snake-container .scorebar h1 {
  background: url(../images/score_bg.png) no-repeat;
  color: #fcf1f1;
  width: 128px;
  height: 128px;
  line-height: 128px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
  margin-top: 18px;
  display: block;
}
.snake-container-wrap .snake-container .scorebar .score {
  margin-bottom: 15px;
}
.snake-container-wrap .snake-container .scorebar .score h2 {
  line-height: 45px;
  margin: 0px;
}
.snake-container-wrap .snake-container .control-bar {
  background: url(../images/couplet_right.png) no-repeat;
}
.snake-container-wrap .snake-container .control-bar #control {
  color: #fcf1f1;
  width: 128px;
  height: 128px;
  line-height: 128px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
  margin-top: 18px;
  display: block;
  padding: 0px;
  border: none;
  outline: none;
  cursor: pointer;
  background: url(../images/bt_play_normal.png) no-repeat;
}
.snake-container-wrap .snake-container .control-bar #control:active {
  background: url(../images/bt_play_pressed.png) no-repeat;
}
.snake-container-wrap .snake-container .control-bar #control.pause {
  background: url(../images/bt_pause_normal.png) no-repeat;
}
.snake-container-wrap .snake-container .control-bar #control.pause:active {
  background: url(../images/bt_pause_pressed.png) no-repeat;
}
.snake-container-wrap .snake-container .control-bar .title-pane {
  color: #fde85b;
  width: 98px;
  margin: 0 auto;
  padding-top: 0px;
}
.snake-container-wrap .snake-container .control-bar .title-pane .title {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  text-align: center;
  text-shadow: 0px 0px 3px #B90401;
}
.snake-container-wrap .snake-container .control-bar .title-pane h1.title {
  width: 40px;
  font-size: 40px;
  padding: 0px 5px 0px 8px;
}
.snake-container-wrap .snake-container .control-bar .title-pane h2.title {
  width: 30px;
  font-size: 30px;
  padding: 0px 5px;
}
.snake-container-wrap .snake-container .hide {
  display: none;
}
.snake-container-wrap .snake-container .content {
  display: inline-block;
  vertical-align: bottom;
  padding: 22px;
  width: 634px;
  height: 634px;
  border-radius: 23px;
  background: #c9231a;
  border: 1px solid #c9231a;
  position: relative;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.snake-container-wrap .snake-container .content .canvas {
  position: absolute;
  background: url(../images/canvas_bg.png) repeat;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  width: 634px;
  height: 634px;
}
