.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
@font-face {
  font-family: 'jianzhi';
  src: url(../fonts/jianzhi.eot) format('eot');
  src: url(../fonts/jianzhi.eot?#iefix) format('embedded-opentype'), url(../fonts/jianzhi.woff) format('woff'), url(../fonts/jianzhi.ttf) format('truetype');
}
.snake-container-wrap {
  width: 100%;
  position: relative;
  font-family: "jianzhi", "微软雅黑";
  font-weight: normal;
}
.snake-container-wrap .hide {
  display: none;
}
.snake-container-wrap .header {
  border: 1px solid #F1F1F1;
  padding: 5px;
}
.snake-container-wrap .header button.control {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
  padding: 0px 5px;
  font-size: 12px;
  line-height: 14px;
  border-radius: 0px;
  display: block;
  float: right;
}
.snake-container-wrap .header button.control:hover,
.snake-container-wrap .header button.control:focus,
.snake-container-wrap .header button.control:active,
.snake-container-wrap .header button.control.active,
.open .dropdown-toggle.snake-container-wrap .header button.control {
  color: #333333;
  background-color: #ebebeb;
  border-color: #e0e0e0;
}
.snake-container-wrap .header button.control:active,
.snake-container-wrap .header button.control.active,
.open .dropdown-toggle.snake-container-wrap .header button.control {
  background-image: none;
}
.snake-container-wrap .header button.control.disabled,
.snake-container-wrap .header button.control[disabled],
fieldset[disabled] .snake-container-wrap .header button.control,
.snake-container-wrap .header button.control.disabled:hover,
.snake-container-wrap .header button.control[disabled]:hover,
fieldset[disabled] .snake-container-wrap .header button.control:hover,
.snake-container-wrap .header button.control.disabled:focus,
.snake-container-wrap .header button.control[disabled]:focus,
fieldset[disabled] .snake-container-wrap .header button.control:focus,
.snake-container-wrap .header button.control.disabled:active,
.snake-container-wrap .header button.control[disabled]:active,
fieldset[disabled] .snake-container-wrap .header button.control:active,
.snake-container-wrap .header button.control.disabled.active,
.snake-container-wrap .header button.control[disabled].active,
fieldset[disabled] .snake-container-wrap .header button.control.active {
  background-color: #ffffff;
  border-color: #ffffff;
}
.snake-container-wrap .header button.control .badge {
  color: #ffffff;
  background-color: #fff;
}
.snake-container-wrap .content canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.snake-container-wrap .snake-loading-pane {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
