.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
@font-face {
  font-family: 'jianzhi';
  src: url(../fonts/jianzhi.eot) format('eot');
  src: url(../fonts/jianzhi.eot?#iefix) format('embedded-opentype'), url(../fonts/jianzhi.woff) format('woff'), url(../fonts/jianzhi.ttf) format('truetype');
}
.snake-container-wrap {
  background-image: url(../images/resources.png);
  background-position: 0px -3056px;
  height: 720px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: 'jianzhi', '微软雅黑';
  width: 1156px;
  position: relative;
}
.snake-container-wrap h1,
.snake-container-wrap h2 {
  font-weight: normal;
  text-align: center;
}
.snake-container-wrap h1 {
  font-size: 32px;
}
.snake-container-wrap h2 {
  font-size: 24px;
}
.snake-container-wrap .bottom {
  background-image: url(../images/resources.png);
  background-position: 0px -1111px;
  width: 1156px;
  height: 323px;
  position: absolute;
  bottom: 0px;
}
.snake-container-wrap .hide {
  display: none;
}
.snake-container-wrap .snake-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 996px;
  overflow: hidden;
}
.snake-container-wrap .snake-container .scorebar,
.snake-container-wrap .snake-container .control-bar {
  width: 158px;
  height: 454px;
  padding-bottom: 43px;
  display: inline-block;
  vertical-align: bottom;
}
.snake-container-wrap .snake-container .scorebar {
  background-image: url(../images/resources.png);
  background-position: 0px -1454px;
  width: 158px;
  height: 454px;
  color: #fcf1f1;
  padding-top: 25px;
}
.snake-container-wrap .snake-container .scorebar .score,
.snake-container-wrap .snake-container .scorebar .rank {
  margin-top: 25px;
}
.snake-container-wrap .snake-container .scorebar .score h2,
.snake-container-wrap .snake-container .scorebar .rank h2 {
  line-height: 40px;
  margin: 0px;
}
.snake-container-wrap .snake-container .control-bar {
  background-image: url(../images/resources.png);
  background-position: 0px -1928px;
  width: 158px;
  height: 454px;
}
.snake-container-wrap .snake-container .control-bar #control {
  margin-left: auto;
  margin-right: auto;
  color: #fcf1f1;
  line-height: 128px;
  margin-bottom: 42px;
  margin-top: 18px;
  display: block;
  padding: 0px;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: url(../images/resources.png);
  background-position: 0px -407px;
  width: 128px;
  height: 128px;
  background-color: transparent;
}
.snake-container-wrap .snake-container .control-bar #control:active {
  background-image: url(../images/resources.png);
  background-position: 0px -555px;
  width: 128px;
  height: 128px;
}
.snake-container-wrap .snake-container .control-bar #control.pause {
  background-image: url(../images/resources.png);
  background-position: 0px -111px;
  width: 128px;
  height: 128px;
}
.snake-container-wrap .snake-container .control-bar #control.pause:active {
  background-image: url(../images/resources.png);
  background-position: 0px -259px;
  width: 128px;
  height: 128px;
}
.snake-container-wrap .snake-container .control-bar .title-pane {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  padding-left: 12px;
  padding-top: 5px;
}
.snake-container-wrap .snake-container .control-bar .title-pane .title {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  text-align: center;
  text-shadow: 0px 0px 3px #B90401;
  width: 40px;
  font-size: 40px;
  padding: 0px 5px;
  color: #fde85b;
}
.snake-container-wrap .snake-container .content {
  display: inline-block;
  vertical-align: bottom;
  padding: 22px;
  width: 634px;
  height: 634px;
  border-radius: 23px;
  background: #c9231a;
  border: 1px solid #c9231a;
  position: relative;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.snake-container-wrap .snake-container .content .canvas {
  position: absolute;
  background-image: url(../images/resources.png);
  background-position: 0px -2402px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  width: 634px;
  height: 634px;
}
.snake-container-wrap .snake-loading-pane {
  background-repeat: no-repeat;
  background: url(../images/loading_bg.png) #c9231a;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/loading_bg.png', sizingMethod='scale');
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.snake-container-wrap .snake-loading-pane button,
.snake-container-wrap .snake-loading-pane h1 {
  left: 60%;
  position: absolute;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  bottom: 20%;
}
.snake-container-wrap .snake-loading-pane button {
  padding: 0px 16px;
  font-size: 32px;
  line-height: 64px;
  border-radius: 32px;
  width: 200px;
  margin-left: -100px;
}
.snake-container-wrap .snake-loading-pane h1 {
  margin-left: -150px;
  width: 300px;
  font-size: 64px;
  color: #fbd67e;
}
.snake-container-wrap .snake-modal-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
.snake-container-wrap .snake-modal-btn {
  font-family: "jianzhi", "微软雅黑";
  font-weight: normal;
  background-color: #e8392a;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  border-radius: 20px;
  padding: 9px 30px 7px;
  cursor: pointer;
  outline: none;
  border: none;
}
.snake-container-wrap .snake-modal-wrap {
  position: absolute;
  overflow: auto;
  left: 50%;
  top: 0px;
  width: 996px;
  height: 680px;
  margin-left: -498px;
  border: 5px solid #e8392a;
  border-radius: 5px;
}
.snake-container-wrap .snake-modal-wrap .snake-modal {
  position: relative;
  background: #fff;
}
.snake-container-wrap .error {
  width: 100px;
  height: 50px;
  margin-left: -50px;
  left: 50%;
  top: 25%;
}
.snake-container-wrap .error .snake-modal {
  line-height: 50px;
  background: #fff;
  text-align: center;
}
.snake-container-wrap .loading {
  width: 150px;
  height: 150px;
  margin-left: -75px;
  margin-top: -75px;
  left: 50%;
  top: 50%;
}
.snake-container-wrap .loading .snake-modal {
  height: 100%;
  background: url(../images/loading.gif) center center no-repeat #ffffff;
}
.snake-container-wrap .gameover {
  width: 450px;
  height: auto;
  left: 50%;
  top: 15%;
  margin-left: -225px;
  border: none;
}
.snake-container-wrap .gameover .snake-modal {
  border: 5px solid #e8392a;
  border-radius: 5px;
  font-family: "微软雅黑";
  padding: 20px;
}
.snake-container-wrap .gameover .snake-modal .tip-section .nian-happy {
  background-image: url(../images/resources.png);
  background-position: 0px -703px;
  width: 192px;
  height: 184px;
}
.snake-container-wrap .gameover .snake-modal .tip-section .nian-sad {
  background-image: url(../images/resources.png);
  background-position: 0px -907px;
  width: 192px;
  height: 184px;
}
.snake-container-wrap .gameover .snake-modal .tip-section .nian-mood,
.snake-container-wrap .gameover .snake-modal .tip-section .tips {
  display: inline-block;
  vertical-align: top;
}
.snake-container-wrap .gameover .snake-modal .tip-section .tips p {
  margin: 5px 0px 20px;
  font-family: "jianzhi", "微软雅黑";
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  color: #e8392a;
}
.snake-container-wrap .gameover .snake-modal .tip-section .tips .score {
  font-size: 50px;
  line-height: 50px;
}
.snake-container-wrap .gameover .snake-modal .courage-section {
  text-align: center;
  margin: 20px;
}
.snake-container-wrap .gameover .snake-modal .courage-section .redbag,
.snake-container-wrap .gameover .snake-modal .courage-section .tips {
  display: inline-block;
  vertical-align: top;
}
.snake-container-wrap .gameover .snake-modal .courage-section .redbag {
  background-image: url(../images/resources.png);
  background-position: 0px 0px;
  width: 75px;
  height: 91px;
}
.snake-container-wrap .gameover .snake-modal .courage-section .tips p {
  padding-left: 20px;
  margin: 5px 0px 15px;
  font-family: "jianzhi", "微软雅黑";
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  color: #333;
}
.snake-container-wrap .gameover .snake-modal .foot-section {
  text-align: center;
}
.snake-container-wrap .gameover .snake-modal .foot-section .share {
  margin-left: 40px;
}
.snake-container-wrap .rules .snake-modal {
  font-family: "微软雅黑";
  padding: 0px 20px 20px;
}
.snake-container-wrap .rules .snake-modal strong,
.snake-container-wrap .rules .snake-modal h3 {
  font-family: "jianzhi", "微软雅黑";
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}
.snake-container-wrap .rules .snake-modal h3 {
  font-family: "jianzhi", "微软雅黑";
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  background-color: #e8392a;
  color: #fff;
  padding: 8px 16px 6px;
  border-radius: 14px;
  float: left;
}
.snake-container-wrap .rules .snake-modal ul,
.snake-container-wrap .rules .snake-modal p {
  clear: both;
  font-size: 14px;
  line-height: 14px;
  color: #333;
}
.snake-container-wrap .rules .snake-modal ul {
  padding-left: 20px;
  margin: 0px;
}
.snake-container-wrap .rules .snake-modal ul li {
  padding-bottom: 14px;
}
.snake-container-wrap .rules .snake-modal ul li p {
  margin-bottom: 0px;
}
