.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
@font-face {
  font-family: 'jianzhi';
  src: url(../fonts/jianzhi.eot) format('eot');
  src: url(../fonts/jianzhi.eot?#iefix) format('embedded-opentype'), url(../fonts/jianzhi.woff) format('woff'), url(../fonts/jianzhi.ttf) format('truetype');
}
.snake-container-wrap {
  background-image: url(../images/resources.png);
  background-position: 0px -2988px;
  height: 720px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'jianzhi', '微软雅黑';
  width: 1280px;
  position: relative;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.snake-container-wrap h1,
.snake-container-wrap h2 {
  font-weight: normal;
  text-align: center;
}
.snake-container-wrap h1 {
  font-size: 32px;
}
.snake-container-wrap h2 {
  font-size: 24px;
}
.snake-container-wrap .bottom {
  background-image: url(../images/resources.png);
  background-position: 0px -1036px;
  width: 1280px;
  height: 330px;
  position: absolute;
  bottom: 0px;
}
.snake-container-wrap .hide {
  display: none;
}
.snake-container-wrap .snake-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 996px;
  padding-left: 8px;
  overflow: hidden;
}
.snake-container-wrap .snake-container .scorebar,
.snake-container-wrap .snake-container .control-bar {
  width: 158px;
  height: 454px;
  padding-bottom: 43px;
  display: inline-block;
  vertical-align: bottom;
}
.snake-container-wrap .snake-container .scorebar {
  background-image: url(../images/resources.png);
  background-position: 0px -1386px;
  width: 158px;
  height: 454px;
  color: #fcf1f1;
}
.snake-container-wrap .snake-container .scorebar h1 {
  background-image: url(../images/resources.png);
  background-position: 0px -148px;
  margin-left: auto;
  margin-right: auto;
  width: 128px;
  height: 128px;
  color: #fcf1f1;
  line-height: 128px;
  margin-bottom: 42px;
  margin-top: 18px;
  display: block;
}
.snake-container-wrap .snake-container .scorebar .score {
  margin-bottom: 15px;
}
.snake-container-wrap .snake-container .scorebar .score h2 {
  line-height: 45px;
  margin: 0px;
}
.snake-container-wrap .snake-container .control-bar {
  background-image: url(../images/resources.png);
  background-position: 0px -1860px;
  width: 158px;
  height: 454px;
}
.snake-container-wrap .snake-container .control-bar #control {
  margin-left: auto;
  margin-right: auto;
  color: #fcf1f1;
  line-height: 128px;
  margin-bottom: 42px;
  margin-top: 18px;
  display: block;
  padding: 0px;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: url(../images/resources.png);
  background-position: 0px 0px;
  width: 128px;
  height: 128px;
  background-color: transparent;
}
.snake-container-wrap .snake-container .control-bar #control:active {
  background-image: url(../images/resources.png);
  background-position: 0px -888px;
  width: 128px;
  height: 128px;
}
.snake-container-wrap .snake-container .control-bar #control.pause {
  background-image: url(../images/resources.png);
  background-position: 0px -444px;
  width: 128px;
  height: 128px;
}
.snake-container-wrap .snake-container .control-bar #control.pause:active {
  background-image: url(../images/resources.png);
  background-position: 0px -592px;
  width: 128px;
  height: 128px;
}
.snake-container-wrap .snake-container .control-bar .title-pane {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 98px;
  padding-top: 0px;
}
.snake-container-wrap .snake-container .control-bar .title-pane .title {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  text-align: center;
  text-shadow: 0px 0px 3px #B90401;
  color: #fde85b;
}
.snake-container-wrap .snake-container .control-bar .title-pane h1.title {
  width: 40px;
  font-size: 40px;
  padding: 0px 5px 0px 8px;
}
.snake-container-wrap .snake-container .control-bar .title-pane h2.title {
  width: 30px;
  font-size: 30px;
  padding: 0px 5px;
}
.snake-container-wrap .snake-container .content {
  display: inline-block;
  vertical-align: bottom;
  padding: 22px;
  width: 634px;
  height: 634px;
  border-radius: 23px;
  background: #c9231a;
  border: 1px solid #c9231a;
  position: relative;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.snake-container-wrap .snake-container .content .canvas {
  position: absolute;
  background-image: url(../images/resources.png);
  background-position: 0px -2334px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  width: 634px;
  height: 634px;
}
.snake-container-wrap .snake-loading-pane {
  background-repeat: no-repeat;
  background: url(../images/loading_bg.png) #c9231a;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/loading_bg.png', sizingMethod='scale');
  position: absolute;
  top: 0px;
  width: 1280px;
  height: 797.2318339100347px;
}
.snake-container-wrap .snake-loading-pane h1 {
  color: #fde85b;
  width: 300px;
  margin-left: -150px;
  left: 50%;
  position: absolute;
  text-align: center;
  bottom: 20%;
  font-size: 64px;
}
.snake-container-wrap .snake-modal-wrap {
  position: absolute;
  overflow: auto;
  left: 50%;
  top: 0px;
  width: 996px;
  height: 680px;
  margin-left: -498px;
  border: 5px solid #e8392a;
  border-radius: 5px;
}
.snake-container-wrap .snake-modal-wrap .snake-modal {
  position: relative;
  background: #fff;
}
.snake-container-wrap .rules .snake-modal {
  font-family: "微软雅黑";
  padding: 0px 20px 20px;
}
.snake-container-wrap .rules .snake-modal strong,
.snake-container-wrap .rules .snake-modal h3 {
  font-family: "jianzhi", "微软雅黑";
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}
.snake-container-wrap .rules .snake-modal h3 {
  font-family: "jianzhi", "微软雅黑";
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  background-color: #e8392a;
  color: #fff;
  padding: 8px 16px 6px;
  border-radius: 14px;
  float: left;
}
.snake-container-wrap .rules .snake-modal ul,
.snake-container-wrap .rules .snake-modal p {
  clear: both;
  font-size: 14px;
  line-height: 14px;
  color: #333;
}
.snake-container-wrap .rules .snake-modal ul {
  padding-left: 20px;
}
.snake-container-wrap .rules .snake-modal ul li {
  padding-bottom: 14px;
}
.snake-container-wrap .rules .snake-modal button {
  font-family: "jianzhi", "微软雅黑";
  font-weight: normal;
  background-color: #e8392a;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  border-radius: 20px;
  padding: 9px 30px 7px;
  cursor: pointer;
  outline: none;
  border: none;
}
