@font-face {
    font-family: 'jianzhi';
    src: url(../fonts/jianzhi.eot) format('eot'); /*IE*/ 
    src: url(../fonts/jianzhi.eot?#iefix) format('embedded-opentype'), 
         url(../fonts/jianzhi.woff) format('woff'), 
         url(../fonts/jianzhi.ttf) format('truetype');
}

.snake-container-wrap {
    background: url(../images/bg.png) no-repeat;
    width: 1280px;
    padding-bottom: 40px;
    margin: 0 auto;
    position: relative;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.snake-container-wrap h1 {
    font-size: 32px;
}

.snake-container-wrap h2 {
    font-size: 24px;
}

.snake-container-wrap > img.bottom {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.snake-container-wrap h1,
.snake-container-wrap h2 {
    font-weight: lighter;
}

.snake-container {
    font-family: 'jianzhi' '微软雅黑';
    width: 1006px;
    box-sizing: border-box;
    padding-left: 9px;
    margin: 0 auto;
    overflow: hidden;
}

.snake-container > .hide {
    display: none;
}

.snake-container > .couplet {
    width: 158px;
    height: 454px;
    padding-bottom: 43px;
}

.snake-container > .scorebar {
    background: url(../images/couplet_left.png) no-repeat;
}

.snake-container > .control-bar {
    background: url(../images/couplet_right.png) no-repeat;
}

.scorebar {
    text-align: center;
}

.snake-container > .content {
    padding: 22px;
    width: 634px;
    height: 634px;
    border-radius: 23px;
    position: relative;
    background: #C9231A;
    border: 1px solid #C9231A;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, .5);
}

.snake-container > .content > .canvas, 
.snake-container > .content > .msgbox {
    position: absolute;
}

.snake-container > .content > .canvas {
    background: url(../images/canvas_bg.png) repeat;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .4);
    width: 634px;
    height: 634px;
}

.snake-container > .content > .msgbox {
    width: 300px;
    height: 300px;
    left: 50%;
    margin-left: -150px;
    top: 1%;
}

.snake-container > .content, 
.snake-container > .couplet {
    display: inline-block;
    vertical-align: bottom;
}

.snake-container .couplet .couplet-head {
    color: #fcf1f1;
    width: 128px;
    height: 128px;
    line-height: 128px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 42px;
    margin-top: 18px;
}

.snake-container .title-pane {
    overflow: hidden;
    width: 98px;
    margin: 0 auto;
    padding-top: 0px;
}

.snake-container .title {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    text-align: center;
    color: #fde85b;
    text-shadow: 0px 0px 3px #B90401;
}

.snake-container h1.title {
    width: 40px;
    font-size: 40px;
    padding: 0px 5px 0px 8px;
}

.snake-container h2.title {
    width: 30px;
    font-size: 30px;
    padding: 0px 5px;
}

.snake-container .scorebar > h1 {
    background: url('../images/score_bg.png') no-repeat;
}

.snake-container .scorebar .score {
    margin-bottom: 15px;
}

.snake-container .score h2 {
    color: #fcf1f1;
    line-height: 45px;
    margin: 0px;
}

.couplet.scorebar {
    color: #fff;
}

.couplet.control-bar {
    color: #fff;
}

.snake-container #control {
    padding: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    background: url(../images/bt_play_normal.png) no-repeat transparent;
}

.snake-container #control:active {
    background: url(../images/bt_play_pressed.png) no-repeat transparent;
}

.snake-container #control.pause {
    background: url(../images/bt_pause_normal.png) no-repeat transparent;
}

.snake-container #control.pause:active {
    background: url(../images/bt_pause_pressed.png) no-repeat transparent;
}
