@font-face {
    font-family: 'jianzhi';
    src: url(../fonts/jianzhi.eot) format('eot'); /*IE*/ 
    src: url(../fonts/jianzhi.eot?#iefix) format('embedded-opentype'), 
         url(../fonts/jianzhi.woff) format('woff'), 
         url(../fonts/jianzhi.ttf) format('truetype');
}

.snake-container-wrap {
    background: url(../images/bg.png) no-repeat;
    width: 1280px;
    margin: 0 auto;
}

.snake-container {
    font-family: 'jianzhi' '微软雅黑';
    width: 990px;
    margin: 0 auto;
    overflow: hidden;
}

.snake-container h1,
.snake-container h2 {
    font-weight: lighter;
}

.snake-container > .hide {
    display: none;
}

.snake-container > .couplet {
    width: 158px;
    height: 454px;
    padding-bottom: 40px;
}

.snake-container > .scorebar {
    background: url(../images/couplet_left.png) no-repeat;
}

.snake-container > .control-bar {
    background: url(../images/couplet_right.png) no-repeat;
}

.scorebar {
    text-align: center;
}

.snake-container > .content {
    padding: 20px;
    width: 634px;
    height: 634px;
    border-radius: 22px;
    position: relative;
    background: #e8392a;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, .4);
}

.snake-container > .content > .canvas, 
.snake-container > .content > .msgbox {
    position: absolute;
}

.snake-container > .content > .canvas {
    background: url(../images/canvas_bg.png) repeat;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .4);
    width: 634px;
    height: 634px;
}

.snake-container > .content > .msgbox {
    width: 300px;
    height: 300px;
    left: 50%;
    margin-left: -150px;
    top: 1%;
}

.snake-container > .content, 
.snake-container > .couplet {
    display: inline-block;
    vertical-align: bottom;
}

.snake-container .couplet .couplet-head {
    color: #fcf1f1;
    width: 128px;
    height: 128px;
    line-height: 128px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 50px;
    margin-top: 10px;
}

.snake-container .title-pane {
    overflow: hidden;
    width: 100px;
    margin: 0 auto;
}

.snake-container .title {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #fde85b;
}

.snake-container h1.title {
    width: 50px;
}

.snake-container h2.title {
    width: 40px;
}

.snake-container .scorebar > h1 {
    background: url('../images/score_bg.png') no-repeat;
}

.snake-container .scorebar .score {
    margin-bottom: 15px;
}

.snake-container .score h2 {
    color: #fcf1f1;
    line-height: 45px;
    margin: 0px;
}

.couplet.scorebar {
    color: #fff;
}

.couplet.control-bar {
    color: #fff;
}

.snake-container #control {
    padding: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    background: url(../images/bt_normal.png) no-repeat transparent;
}

.snake-container #control:active {
    background: url(../images/bt_pressed.png) no-repeat transparent;
}

.snake-container #control > img {
    display: none;
}
.snake-container #control > [role=start] {
    display: block;
}

.snake-container #control.control-play > [role=pause] {
    display: block;
}
.snake-container #control.control-play > [role=start],
.snake-container #control.control-play > [role=continue] {
    display: none;
}

.snake-container #control.control-pause > [role=continue] {
    display: block;
}
.snake-container #control.control-pause > [role=start],
.snake-container #control.control-pause > [role=pause] {
    display: none;
}
