article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
    display: block; 
}
body {
    background-color: #CCC;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}

.snake-container {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

body {
    background: #f1f1f1;
}

.snake-container > .hide {
    display: none;
}

.snake-container > .scorebar,
.snake-container > .control-bar {
    width: 150px;
    margin-top: 150px;
}

.snake-container > .scorebar {
    background: url(../images/couplet_left.png);
}

.snake-container > .control-bar {
    background: url(../images/couplet_right.png);
}

.scorebar {
    text-align: center;
}

.snake-container > .content {
    width: 450px;
    height: 450px;
    position: relative;
    background: url(../images/canvas_bg.png) repeat;
}

.snake-container > .content > .canvas, 
.snake-container > .content > .msgbox {
    position: absolute;
}

.snake-container > .content > .canvas {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.snake-container > .content > .msgbox {
    width: 300px;
    height: 300px;
    left: 50%;
    margin-left: -150px;
    top: 1%;
}

.snake-container > .content, 
.snake-container > .scorebar, 
.snake-container > .control-bar {
    float: left;
}

.control-bar > .control {
    width: 100px;
    height: 100px;
}

.snake-container > .control-bar > .title-pane {
    overflow:  hidden;
}

.snake-container > .control-bar > .title-pane > .title {
    display: inline-block;
    vertical-align: middle;
    width: 1.5em;
    text-align: center;

}