.snake-container {
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}

body {
    background: #f1f1f1;
}

.snake-container > .hide {
    display: none;
}

.snake-container > .couplet {
    width: 158px;
    height: 454px;
}

.snake-container > .scorebar {
    background: url(../images/couplet_left.png);
}

.snake-container > .control-bar {
    background: url(../images/couplet_right.png);
}

.scorebar {
    text-align: center;
}

.snake-container > .content {
    padding: 20px;
    width: 600px;
    height: 600px;
    border-radius: 22px;
    position: relative;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .3);
}

.snake-container > .content > .canvas, 
.snake-container > .content > .msgbox {
    position: absolute;
}

.snake-container > .content > .canvas {
    background: url(../images/canvas_bg.png) repeat;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    width: 600px;
    height: 600px;
}

.snake-container > .content > .msgbox {
    width: 300px;
    height: 300px;
    left: 50%;
    margin-left: -150px;
    top: 1%;
}

.snake-container > .content, 
.snake-container > .couplet {
    display: inline-block;
    vertical-align: bottom;
}

.snake-container .couplet .couplet-head {
    width: 128px;
    height: 128px;
    line-height: 128px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 60px;
    margin-top: 10px;
}

.snake-container .title-pane {
    overflow: hidden;
    width: 100px;
    margin: 0 auto;
}

.snake-container .title {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.snake-container h1.title {
    width: 50px;
}

.snake-container h2.title {
    width: 45px;
}

.snake-container .scorebar > h1 {
    background: url('../images/score_bg.png') no-repeat;
}

.snake-container .scorebar .score {
    height: 90px;
}

.couplet.scorebar {
    color: #fff;
}

.couplet.control-bar {
    color: #fff;
}

.snake-container #control {
    padding: 0px;
    border: none;
    outline: none;
    background: url(../images/bt_normal.png) no-repeat transparent;
}

.snake-container #control:active {
    background: url(../images/bt_pressed.png) no-repeat transparent;
}

.snake-container #control > img {
    display: none;
}
.snake-container #control > [role=start] {
    display: block;
}

.snake-container #control.control-play > [role=pause] {
    display: block;
}
.snake-container #control.control-play > [role=start],
.snake-container #control.control-play > [role=continue] {
    display: none;
}

.snake-container #control.control-pause > [role=continue] {
    display: block;
}
.snake-container #control.control-pause > [role=start],
.snake-container #control.control-pause > [role=pause] {
    display: none;
}
