article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
  display: block; 
}
body {
  background-color: #CCC;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}

.snake-container {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

body {
    background: #f1f1f1;
}

.snake-container > .scorebar,
.snake-container > .control-bar {
    width: 150px;
    margin-top: 150px;
}

.scorebar {
    text-align: center;
}

.snake-container > .canvas {
    background: #CCC;
}

.snake-container > .canvas, 
.snake-container > .scorebar, 
.snake-container > .control-bar {
    float: left;
}


.control-bar > .control {
    width: 130px;
    height: 130px;
}
